-
  var reviewsItems = [
    {
      "author": "Владислав Эрнберг",
      "occupation": "Архитектор",
      "text": "Для меня, как архитектора, выбор был очевиден. Никаких компромиссов в качестве. Кухни <span class='italic'>Berloni</span>, - это как раз тот элемент интерьера, который подчёркивает элегантность Вашей работы в целом. Утончённые линии и строгость, в некотором роде...монументальность, - не что иное, как проявление утерянного в советское время, эстетического восприятия архитектуры, мебели и форм."
    },
    {
      "author": "Ирина Сумбайская",
      "occupation": "Домохозяйка, блогер",
      "text": "Вначале я не хотела оформлять интерьер с таким авторским подходом к кухонному пространству, но мне действительно нравится собирать друзей дома, часами болтать с подругами, слушать музыку и готовить. С кухнями <span class='italic'>Berloni</span> я почувствовала  ритм жизни ещё острее! Друзья были в восторге! Ещё раз убедилась, что мебель из масс-маркетов, - это не про меня. Люблю стиль во всём!"
    },
    {
      "author": "Игорь Волевой",
      "occupation": "Автогонщик, бизнесмен",
      "text": "Хорошая кухня, - это забота о своей семье. Я много работаю и уют дома очень важен. Не пожалел ни разу, что обратился в салон и нам с женой сделали действительно хороший проект с продуманной эргономикой и стилем. Сборка кухни была быстрой и качественной. В свой загородный дом я тоже буду покупать только <span class='italic'>Berloni</span>, хочу чтобы это стало одной из семейных традиций, - только качественная итальнская мебель."
    }
  ]

section(id="reviews").reviews
  +title("Отзывы покупателей")
  .container
    .reviews__slider.reviews-slider
      each item, index in reviewsItems
        div
          .reviews-slider__photo
            img(src="img/reviews/review-" + index + ".jpg", alt="Фотография")
            .reviews-slider__desktop-block    
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
          .reviews-slider__descr
            .reviews-slider__mobile-block
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
            p.reviews-slider__text!= item.text
